In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('input/MoMAExhibitions1929to1989.csv', encoding='latin-1')

In [10]:
df.head()

,ExhibitionID,ExhibitionNumber,ExhibitionTitle,ExhibitionCitationDate,ExhibitionBeginDate,ExhibitionEndDate,ExhibitionSortOrder,ExhibitionURL,ExhibitionRole,ExhibitionRoleinPressRelease,...,Institution,Nationality,ConstituentBeginDate,ConstituentEndDate,ArtistBio,Gender,VIAFID,WikidataID,ULANID,ConstituentURL
0,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,moma.org/calendar/exhibitions/1767,Curator,Director,...,NaN,American,1902.0,1981.0,"American, 19021981",Male,109252853.0,Q711362,500241556.0,moma.org/artists/9168
1,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,moma.org/calendar/exhibitions/1767,Artist,Artist,...,NaN,French,1839.0,1906.0,"French, 18391906",Male,39374836.0,Q35548,500004793.0,moma.org/artists/1053
2,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,moma.org/calendar/exhibitions/1767,Artist,Artist,...,NaN,French,1848.0,1903.0,"French, 18481903",Male,27064953.0,Q37693,500011421.0,moma.org/artists/2098
3,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,moma.org/calendar/exhibitions/1767,Artist,Artist,...,NaN,Dutch,1853.0,1890.0,"Dutch, 18531890",Male,9854560.0,Q5582,500115588.0,moma.org/artists/2206
4,2557.0,1,"Cézanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",11/7/1929,12/7/1929,1.0,moma.org/calendar/exhibitions/1767,Artist,Artist,...,NaN,French,1859.0,1891.0,"French, 18591891",Male,24608076.0,Q34013,500008873.0,moma.org/artists/5358

In [14]:
df.shape

(34558, 28)

In [15]:
df.isna().sum()

ExhibitionID                      429
ExhibitionNumber                    0
ExhibitionTitle                     0
ExhibitionCitationDate              1
ExhibitionBeginDate                 0
ExhibitionEndDate                1204
ExhibitionSortOrder                 0
ExhibitionURL                     433
ExhibitionRole                    134
ExhibitionRoleinPressRelease      134
ConstituentID                     514
ConstituentType                   134
DisplayName                       134
AlphaSort                         134
FirstName                        3059
MiddleName                      30754
LastName                         2560
Suffix                          34401
Institution                     32100
Nationality                      8486
ConstituentBeginDate             9268
ConstituentEndDate              14739
ArtistBio                        8469
Gender                           8762
VIAFID                           7562
WikidataID                      12317
ULANID                          12870
ConstituentURL                    514
dtype: int64

In [16]:
df.dtypes

ExhibitionID                    float64
ExhibitionNumber                 object
ExhibitionTitle                  object
ExhibitionCitationDate           object
ExhibitionBeginDate              object
ExhibitionEndDate                object
ExhibitionSortOrder             float64
ExhibitionURL                    object
ExhibitionRole                   object
ExhibitionRoleinPressRelease     object
ConstituentID                   float64
ConstituentType                  object
DisplayName                      object
AlphaSort                        object
FirstName                        object
MiddleName                       object
LastName                         object
Suffix                           object
Institution                      object
Nationality                      object
ConstituentBeginDate            float64
ConstituentEndDate              float64
ArtistBio                        object
Gender                           object
VIAFID                          float64
WikidataID                       object
ULANID                          float64
ConstituentURL                   object
dtype: object

In [17]:
df["Gender"].value_counts()

Male      23268
Female     2527
male          1
Name: Gender, dtype: int64

In [18]:
df["ExhibitionRole"].value_counts()

Artist               32537
Curator               1495
Installer              150
Competition Judge      132
Designer                66
Arranger                31
Preparer                13
Name: ExhibitionRole, dtype: int64

In [19]:
df["Nationality"].value_counts()

American                 14112
French                    3767
German                    1741
British                   1156
Italian                    848
Spanish                    669
Mexican                    394
Dutch                      386
Swiss                      379
Russian                    356
Japanese                   318
Austrian                   256
Belgian                    204
Canadian                   126
Swedish                    109
Polish                     108
Chilean                     97
Nationality unknown         93
Brazilian                   87
Czech                       85
Argentine                   77
Cuban                       71
Danish                      60
Finnish                     58
Norwegian                   49
Venezuelan                  38
Hungarian                   34
Australian                  34
English                     33
Colombian                   29
                         ...
Florentine                   6
Bolivian                     6
Ukrainian                    6
Ecuadorian                   6
Croatian                     4
Indian                       4
Iranian                      4
Native American              3
Netherlandish                3
Korean                       3
New                          2
Russian-Lithuanian           2
Rhodesian                    2
Canadian Inuit               2
Georgian                     1
South African                1
architect                    1
Sudanese                     1
Slovene                      1
Panamanian                   1
Catalan                      1
Bosnian                      1
Tanzanian                    1
New Zealander                1
South                        1
Moroccan and American        1
Venetian                     1
Milanese                     1
Luxembourgish                1
American and Mexican         1
Name: Nationality, Length: 75, dtype: int64