In [46]:
import re
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [47]:
df_1 = pd.read_csv('output/df_1.csv', encoding='latin-1')
pd.options.display.max_columns = 0

In [48]:
df_1

      ExhibitionNumber ExhibitionBeginDate  ... Duration BeginYear
0                    1          1929-11-07  ...       30      1929
1                    1          1929-11-07  ...       30      1929
2                    1          1929-11-07  ...       30      1929
3                    1          1929-11-07  ...       30      1929
4                    1          1929-11-07  ...       30      1929
...                ...                 ...  ...      ...       ...
34553             1536          1989-12-09  ...      128      1989
34554             1536          1989-12-09  ...      128      1989
34555             1536          1989-12-09  ...      128      1989
34556             1536          1989-12-09  ...      128      1989
34557             1537          1989-12-15  ...       44      1989

[34558 rows x 12 columns]

In [49]:
df_1['Gender'].value_counts()

male      23269
female     2527
Name: Gender, dtype: int64

In [50]:
gender_df.dropna()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [58]:
gender_df = df_1[["Gender", "BeginYear", "Country"]]
gender_df

      Gender  BeginYear        Country
0       male       1929  United States
1       male       1929         France
2       male       1929         France
3       male       1929    Netherlands
4       male       1929         France
...      ...        ...            ...
34553   male       1989          Japan
34554   male       1989          Japan
34555   male       1989          Japan
34556   male       1989          Japan
34557    NaN       1989            NaN

[34558 rows x 3 columns]

In [59]:
# Exportación de dataframe a csv

gender_df.to_csv('output/gender_df.csv', index = False)

In [60]:
# Distributions

#https://plotly.com/python/plotly-express/

gender_df = px.data.tips()
fig = px.histogram(gender_df, x="BeginYear", y="Gender", color="sex", marginal="rug", hover_data=gender_df.columns)
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'] but received: BeginYear