# 60 years of art at a glance

## Creación de mapa
Proyecto final de bootcamp Ironhack  
Madrid, octubre 2020  
[Dataset](https://github.com/MuseumofModernArt/exhibitions) del MoMA en Github

### Importando bibliotecas

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import plotly.express as px
import numpy as np

In [9]:
n_art_country = pd.read_csv('output/n_art_country.csv', encoding='latin-1')
pd.options.display.max_columns = 0
n_exh_country

                   Country  AggregateExh
0            United States       14112.0
1                   France        3767.0
2                  Germany        1741.0
3           United Kingdom        1156.0
4                    Italy         848.0
..                     ...           ...
59  Bosnia And Herzegovina           1.0
60                 Georgia           1.0
61              Luxembourg           1.0
62            South Africa           1.0
63                   Milan           1.0

[64 rows x 2 columns]